.navigation {
  display: flex;
  padding: 30px 50px;
  align-items: center;
  background-color: transparent;
}

@media screen and (max-width: 991px) {
  .navigation {
    padding: 25px 30px;
  }
}

@media screen and (max-width: 767px) {
  .navigation {
    padding: 20px 30px;
  }
}

@media screen and (max-width: 479px) {
  .navigation {
    padding-right: 20px;
    padding-left: 20px;
  }
}

.navigation-wrap {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
}

@media screen and (max-width: 991px) {
  .navigation-wrap {
    background-color: white;
  }
}

.logo-link {
  z-index: 1;
}

.logo-link:hover {
  opacity: 0.8;
}

.logo-link:active {
  opacity: 0.7;
}

@media screen and (max-width: 991px) {
  .logo-link:global(.w--current) {
    flex: 1;
  }
}

@media screen and (max-width: 767px) {
  .logo-link {
    padding-left: 0px;
  }
}

.text-block {
  color: var(--primary);
  font-size: 32px;
  text-transform: uppercase;
}

.menu {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 0;

  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 991px) {
  .menu {
    position: static;
    margin-left: 30px;
  }
}

@media screen and (max-width: 479px) {
  .menu {
    margin-left: 15px;
  }
}

.navigation-items {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 0 auto;
}

@media screen and (max-width: 991px) {
  .navigation-items {
    background-color: white;
  }
}

.navigation-item {
  padding-top: 9px;
  padding-bottom: 9px;

  opacity: 0.6;

  font-size: 12px;
  line-height: 20px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.navigation-item:hover {
  opacity: 0.9;
}

.navigation-item:active {
  opacity: 0.8;
}

.navigation-item:global(.w--current) {
  opacity: 1;
  color: #1a1b1f;
  font-weight: 600;
}

.navigation-item:global(.w--current):hover {
  opacity: 0.8;
  color: #32343a;
}

.navigation-item:global(.w--current):active {
  opacity: 0.7;
  color: #32343a;
}

@media screen and (max-width: 991px) {
  .navigation-item {
    padding: 15px 30px;
    transition: background-color 400ms ease,opacity 400ms ease,color 400ms ease;
    text-align: center;
  }
}

@media screen and (max-width: 991px) {
  .navigation-item:hover {
    background-color: #f7f8f9;
  }
}

@media screen and (max-width: 991px) {
  .navigation-item:active {
    background-color: #eef0f3;
  }
}

@media screen and (max-width: 991px) {
  .menu-button {
    padding: 0px;
  }
}

@media screen and (max-width: 991px) {
  .menu-button:global(.w--open) {
    background-color: transparent;
  }
}

@media screen and (max-width: 479px) {
  .menu-button {
    flex: 0 0 auto;
  }
}

@media screen and (max-width: 479px) {
  .menu-button:global(.w--open) {
    flex: 0 0 auto;
  }
}

@media screen and (max-width: 991px) {
  .menu-icon {
    display: block;
  }
}

.primary-button {
  padding: 12px 25px;

  border-radius: 0px;

  background-color: var(--primary);

  transition: background-color 400ms ease,opacity 400ms ease,color 400ms ease;

  color: white;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
}

.primary-button:hover {
  background-color: #32343a;
  color: white;
}

.primary-button:active {
  background-color: #43464d;
}

@media screen and (max-width: 991px) {
  .primary-button {
    justify-content: center;
  }
}

.primary-button.cc-jumbo-button {
  padding: 16px 35px;
  font-size: 14px;
  line-height: 26px;
}

.primary-button.cc-contact-us {
  position: relative;
  z-index: 5;
  background-color: var(--primary);
}

@media screen and (max-width: 991px) {
  .primary-button.cc-contact-us {
    display: none;
  }
}

.primary-button.cc-white-button {
  padding: 16px 35px;
  background-color: white;
  color: hsla(0, 0.00%, 12.55%, 1.00);
  font-size: 14px;
  line-height: 26px;
}

.primary-button.cc-white-button:hover {
  background-color: hsla(0, 0.00%, 100.00%, 0.80);
}

.primary-button.cc-white-button:active {
  background-color: hsla(0, 0.00%, 100.00%, 0.90);
}